@model IceCreamProject.Models.tbl_order

@{
    ViewBag.Title = "purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
<h2 style="color:white;font-display:block">purchase</h2>
    </center>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <style>
        .box {
            background-color: bisque;
            width: 420px;
            border: 5px black;
            padding: 40px;
            margin: 30px;
            color: black;
            font-size: 15px
        }
    </style>
    <center>
        <div class="box">

            <div class="form-group">
                @Html.LabelFor(model => model.b_name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.b_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.b_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.book_id, "book_id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    s
                    @Html.ValidationMessageFor(model => model.book_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.userid, "userid", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("userid", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.userid, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div></div></center>
        </div>
        }
