@model IceCreamProject.Models.tbl_recipe

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.r_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.r_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.r_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.r_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin_Reply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin_Reply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_flavour.fl_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_flavour.fl_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBL_USER.u_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBL_USER.u_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.r_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
